#!/bin/bash
#
# .xprofile
# Sourced by GDM/KDM/LightDM/LXDM before window manager is launched.
#

# Host-specific config
HOST=`hostname`
[ -f ~/.xprofile-${HOST} ] && source ~/.xprofile-${HOST}

# Don't beep
xset b off

# Make Caps Lock a Control key
setxkbmap -option ctrl:nocaps

